<h1>Here's a list of everyone who signed this already in the city {{cityLower}}:</h1>
<ul>
    {{#each rows}}
        <li> {{#if website}} <a href="{{website}}"> {{/if}} 
            {{first}}
            {{last}}
            {{#if website}} </a> {{/if}}
            {{#if age}}, {{age}} {{/if}}
            {{#if city}} - {{city}} {{/if}}
        </li>
    {{/each}}
</ul>