{{>header inside=true}} 
{{#if rows}}
<h1>Here's a list of everyone who signed this already in {{city}}:</h1>
<ul>
    {{#each rows}}
        <li> {{#if website}} <a href="{{website}}"> {{/if}} 
            {{first}}
            {{last}}
            {{#if website}} </a> {{/if}}
            {{#if age}}, {{age}} {{/if}}
            {{#if city}} - {{city}} {{/if}}
        </li>
    {{/each}}
</ul>
{{else}} 
<h1>There are no signatures from {{city}} yet 😞</h1>
{{/if}}
