<div id="edit-container">

    <div id="edit-header">
        {{>header inside=true}}
    </div>

    <div id="edit-title">
        <h1>Make changes to your profile</h1>
    </div>

    <div id="edit-subtext">
        <p>if you want to</p>
    </div>

    <div id="edit-form">
        <form action="" method="post">
            {{#rows}}
                <div>
                    <div class="label">
                        <label for="first">First name</label>
                    </div>
                    <input
                        type="text"
                        name="first"
                        class="first"
                        value="{{first}}"
                        required
                    />
                </div>

                <div>
                    <div class="label">
                        <label for="last">Last name</label>
                    </div>
                    <input
                        type="text"
                        name="last"
                        class="last"
                        value="{{last}}"
                        required
                    />
                </div>

                <div>
                    <div class="label">
                        <label for="email">Email</label>
                    </div>
                    <input
                        type="email"
                        name="email"
                        class="email"
                        value="{{email}}"
                        required
                    />
                </div>

                <div>
                    <div class="label">
                        <label for="password">Password</label>
                    </div>
                    <input type="password" name="password" class="password" />
                </div>

                <div>
                    <div class="label">
                        <label for="age">Age</label>
                    </div>
                    <input type="number" name="age" class="age" min="0" max="110" value="{{age}}" />
                </div>

                <div>
                    <div class="label">
                        <label for="city">City</label>
                    </div>
                    <input type="text" name="city" class="city" value="{{city}}" />
                </div>

                <div>
                    <div class="label">
                        <label for="website">Website</label>
                    </div>
                    <input
                        type="text"
                        name="website"
                        class="website"
                        value="{{website}}"
                    />
                </div>
                <div>
                    <button>Update</button>
                </div>
                <p class="error-msg">{{error}}</p>
            {{/rows}}
        </form>
    </div>


        <div id="footer">
            <footer>© Savas 2021</footer>
        </div>
</div>
