<h1>Here's a list of everyone who signed this already:</h1>
<ul>
    {{#each rows}}
        <li> {{#if website}} <a href="{{website}}"> {{/if}} 
            {{first}}
            {{last}}
            {{#if website}} </a> {{/if}}
            {{#if age}}, {{age}} {{/if}}
            {{#if city}} - <a href="/signers/{{city}}">{{city}}</a> {{/if}}
        </li>
    {{/each}}
</ul>

<a href="/logout">Logout</a>