<div id="signers-container">

    {{>header inside=true}} 

    <div id="signers-title">
        <h1>Here's everyone who believes in me:</h1>
    </div>

    <div id="signers-list">
        <ul>
            {{#each rows}}
                <li> {{#if website}} <a href="{{website}}"> {{/if}} 
                    {{first}}
                    {{last}}
                    {{#if website}} </a> {{/if}}
                    {{#if age}}, {{age}} {{/if}}
                    {{#if city}} - <a href="/signers/{{city}}">{{city}}</a> {{/if}}
                </li>
            {{/each}}
        </ul>
    </div>

    <div id="footer">
        <footer>© Savas 2021</footer>
    </div>
</div>
